
.fakeimg {
    height: 200px;
    background: #aaa;
}

#nav a {
    font-weight: bold;
    color: #9e9fa0;
}

#nav a.router-link-exact-active {
    color: #f1f7f4;
    background-color: #4caf50;
}

.nav-item a:hover {
    background-color: rgb(0, 0, 0);
}

.dropdown-menu {
    background-color: #3e3e3f;
    opacity: 1;
}