<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1 th:text="#{title.jumbotron}"></h1>
</div>

<p>Admin page</p>

<nav id="nav" class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#collapsibleNavbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- Links -->

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?lang=en">en</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?lang=ua">ua</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/registration}">Register</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top:30px">
    <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/newgame}" Prepare for a new game</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/users}">Get list of teams</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/registration}">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</div>
<div>
    <table class="datatable">
        <thead>
        <tr>
            <th>User name</th>

        </tr>
        </thead>

        <tbody>
        <!--        <tr th:if="${users.empty}">-->
        <!--            <td colspan="2" th:text="#{message.users.empty}"></td>-->
        <!--        </tr>-->
        <tr th:each="user: ${users}">
            <td><span th:text="${user.getNameUa()}"> nameUa </span></td>
        </tr>
        </tbody>
    </table>
</div>

<di>
    <form method="post" th:action="${'/admin/newgame'}">
        <div>
            <label for="team">Teams:</label>
            <select id="team" name="id">
                <option value="" selected="selected">-----</option>
                <option th:each="user : ${users}"
                        th:value="${user.id}" th:text="${user.nameUa}">Credit card
                </option>
            </select>
        </div>
        <button type="submit">Start new game</button>
    </form>
</di>

<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
</div>

</body>
</html>
