/*Nav bar*/
#nav a {
    font-weight: bold;
    color: lightgray;
    margin: fill;
}

#nav a:active {
    color: #f1f7f4;
    background-color: limegreen;
}

.nav-item a:hover {
    background-color: darkslategray;
}

.form-input-error {
    color: red;
}

/*html {*/
/*    position: relative;*/
/*    min-height: 100%;*/
/*}*/

/*body {*/
/*    margin: 0 0 100px;*/
/*    !* bottom = footer height *!*/
/*    padding: 25px;*/
/*}*/

/*footer {*/
/*    background-color: lightgray;*/
/*    position: relative; // TODO correct position*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    height: 50px;*/
/*    width: 100%;*/
/*overflow: hidden;*/
/*}*/
html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    padding-bottom: 50px;
}

footer {
    text-align: center;
    background-color: lightgray;
    position: relative;
    height: 100px;
    margin-top: -100px;
    /*width: 100%;*/
    clear: both;
}