<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title th:text="#{index.page.title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1 th:text="#{text.header}"></h1>
</div>

<nav id="nav" class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#collapsibleNavbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- Links -->
<!--TODO remove this first ul -->
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item"
                th:if="${lang.equals('en')}">
                <a class="nav-link" th:text="#{navbar.link.ua}" href="?lang=ua"></a>
            </li>
            <li class="nav-item"
                th:if="${lang.equals('ua')}">
                <a class="nav-link" th:text="#{navbar.link.en}" href="?lang=en"></a>
            </li>
            <li class="nav-item">
                <a th:text="#{navbar.link.register}" class="nav-link" th:href="@{/registration}"></a>
            </li>
            <li class="nav-item">
                <a th:text="#{navbar.link.login}" class="nav-link" th:href="@{/login}"></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="margin-top:30px">
    <h3 th:text="#{index.text.please.log.in.to.continue}"></h3>
</div>

<footer>
    <h5 th:text="#{text.footer}"></h5>
</footer>

</body>

</html>
