<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title th:text="#{login.page.title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1 th:text="#{text.header}"></h1>
</div>

<nav id="nav" class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top ">
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#collapsibleNavbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- Links -->

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a th:text="#{navbar.link.home.page}" class="nav-link" th:href="@{/home}"></a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item"
                th:if="${lang.equals('en')}">
                <a class="nav-link" th:text="#{navbar.link.ua}" href="?lang=ua"></a>
            </li>
            <li class="nav-item"
                th:if="${lang.equals('ua')}">
                <a class="nav-link" th:text="#{navbar.link.en}" href="?lang=en"></a>
            </li>
            <li class="nav-item">
                <a th:text="#{navbar.link.register}" class="nav-link" th:href="@{/registration}"></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2 class="panel-title" th:text="#{login.form.header}"></h2>
    <div class="form-input-error">
        <span th:if="${error}" th:text="#{login.message.wrong.login.or.password}"></span>
    </div>

    <div class="panel-body">
        <form th:action="@{/login}" method="post" class="was-validated">
            <div class="form-group">
                <label th:text="#{login.label.login}" for="username"></label>
                <input type="text" class="form-control" id="username"
                       th:placeholder="#{login.label.placeholder.login}"
                       value="ad"
                       name="username" required>
            </div>

            <div class=" form-group">
                <label th:text="#{login.label.password}" for="password"></label>
                <input type="password" class="form-control" id="password"
                       th:placeholder="#{login.label.placeholder.password}"
                       value="adpas"
                       name="password" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{login.label.button}"></button>
        </form>
    </div>
</div>

<footer>
    <h5 th:text="#{text.footer}"></h5>
</footer>

</body>
</html>

