<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title th:text="#{registration.page.title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1 th:text="#{text.header}"></h1>
</div>

<nav id="nav" class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#collapsibleNavbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- Links -->

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a th:text="#{navbar.link.home.page}" class="nav-link" th:href="@{/home}"></a>
            </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item"
                th:if="${lang.equals('en')}">
                <a class="nav-link" th:text="#{navbar.link.ua}" href="?lang=ua"></a>
            </li>
            <li class="nav-item"
                th:if="${lang.equals('ua')}">
                <a class="nav-link" th:text="#{navbar.link.en}" href="?lang=en"></a>
            </li>
            <li class="nav-item">
                <a th:text="#{navbar.link.login}" class="nav-link" th:href="@{/login}"></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h2 class="panel-title" th:text="#{registration.form.header}"></h2>
    <div class="form-input-error">
        <span th:if="${emailerror}" th:text="#{registration.message.login.already.exists}"></span>
    </div>
    <div th:if="${fielderrors}" th:each="fielderror: ${fielderrors}" class="form-input-error">
        <span th:text="${fielderror}"></span>
    </div>

    <div class="panel-body">
        <!--        TODO check  newuser may be deleted -->
        <form th:action="@{/registration}" method="post" class="was-validated" th:object="${newuser}">
            <div class="form-group">
                <label th:text="#{registartion.label.nameUa}" for="nameUa"></label>
                <input type="text" class="form-control" id="nameUa"
                       th:placeholder="#{registartion.label.placeholder.nameUa}"
                       name="nameUa">
                <!--        TODO put  required -->
            </div>

            <div class="form-group">
                <label th:text="#{registartion.label.nameEn}" for="nameEn"></label>
                <input type="text" class="form-control" id="nameEn"
                       th:placeholder="#{registartion.label.placeholder.nameEn}"
                       name="nameEn">
                <!--        TODO put  required -->
            </div>

            <div class="form-group">
                <label th:text="#{registartion.label.login}" for="email"></label>
                <input type="text" class="form-control" id="email"
                       th:placeholder="#{registartion.label.placeholder.email}"
                       name="email" required>
            </div>

            <div class=" form-group">
                <label th:text="#{registartion.label.password}" for="password"></label>
                <input type="password" class="form-control" id="password"
                       th:placeholder="#{registartion.label.placeholder.password}" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{registration.label.button}"></button>
        </form>
    </div>
</div>

<footer>
    <h5 th:text="#{text.footer}"></h5>
</footer>

</body>
</html>